D:\GitRepos\DinnerHub\DinnerHub\DinnerHub.Api\bin\Debug
/DinnerHub/.vs/DinnerHub/FileContentIndex
/DinnerHub/.vs
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Api.deps.json
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Api.dll
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Api.exe
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Api.pdb
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Application.dll
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Application.pdb
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Contracts.dll
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Contracts.pdb
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Domain.dll
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Domain.pdb
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Infrastructure.dll
/DinnerHub/DinnerHub.Api/bin/Debug/net8.0/DinnerHub.Infrastructure.pdb
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/ref/DinnerHub.Api.dll
/DinnerHub/DinnerHub.Api/obj/Release/net8.0
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/refint/DinnerHub.Api.dll
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/apphost.exe
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.AssemblyInfo.cs
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.AssemblyInfoInputs.cache
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.csproj.AssemblyReference.cache
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.csproj.CoreCompileInputs.cache
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.csproj.FileListAbsolute.txt
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.dll
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.pdb
/DinnerHub/DinnerHub.Api/obj/Debug/net8.0/DinnerHub.Api.sourcelink.json
/DinnerHub/DinnerHub.Application/bin/Debug/net8.0/DinnerHub.Application.deps.json
/DinnerHub/DinnerHub.Application/bin/Debug/net8.0/DinnerHub.Application.dll
/DinnerHub/DinnerHub.Application/bin/Debug/net8.0/DinnerHub.Application.pdb
/DinnerHub/DinnerHub.Application/bin/Debug/net8.0/DinnerHub.Domain.dll
/DinnerHub/DinnerHub.Application/bin/Debug/net8.0/DinnerHub.Domain.pdb
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/ref/DinnerHub.Application.dll
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/refint/DinnerHub.Application.dll
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHu.0983FB77.Up2Date
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.AssemblyInfo.cs
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.AssemblyInfoInputs.cache
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.csproj.AssemblyReference.cache
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.csproj.CoreCompileInputs.cache
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.csproj.FileListAbsolute.txt
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.dll
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.pdb
/DinnerHub/DinnerHub.Application/obj/Debug/net8.0/DinnerHub.Application.sourcelink.json
/DinnerHub/DinnerHub.Application/obj/Release/net8.0
/DinnerHub/DinnerHub.Contracts/bin/Debug/net8.0/DinnerHub.Contracts.dll
/DinnerHub/DinnerHub.Contracts/bin/Debug/net8.0/DinnerHub.Contracts.pdb
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/ref/DinnerHub.Contracts.dll
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/refint/DinnerHub.Contracts.dll
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/DinnerHub.Contracts.AssemblyInfo.cs
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/DinnerHub.Contracts.AssemblyInfoInputs.cache
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/DinnerHub.Contracts.dll
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/DinnerHub.Contracts.pdb
/DinnerHub/DinnerHub.Contracts/obj/Debug/net8.0/DinnerHub.Contracts.sourcelink.json
/DinnerHub/DinnerHub.Contracts/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DinnerHub/DinnerHub.Contracts/obj/Release/net8.0/DinnerHub.Contracts.AssemblyInfo.cs
/DinnerHub/DinnerHub.Contracts/obj/Release/net8.0/DinnerHub.Contracts.AssemblyInfoInputs.cache
/DinnerHub/DinnerHub.Contracts/obj/Release/net8.0/DinnerHub.Contracts.assets.cache
/DinnerHub/DinnerHub.Contracts/obj/Release/net8.0/DinnerHub.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/DinnerHub/DinnerHub.Contracts/obj/Release/net8.0/DinnerHub.Contracts.GlobalUsings.g.cs
/DinnerHub/DinnerHub.Domain/obj/Debug/net8.0/ref/DinnerHub.Domain.dll
/DinnerHub/DinnerHub.Domain/obj/Debug/net8.0/refint/DinnerHub.Domain.dll
/DinnerHub/DinnerHub.Domain/obj/Debug/net8.0
/DinnerHub/DinnerHub.Domain/bin/Debug/net8.0/DinnerHub.Domain.dll
/DinnerHub/DinnerHub.Domain/bin/Debug/net8.0/DinnerHub.Domain.pdb
/DinnerHub/DinnerHub.Domain/obj/Release/net8.0
/DinnerHub/DinnerHub.Infrastructure/bin/Debug/net8.0
/DinnerHub/DinnerHub.Infrastructure/obj/Debug/net8.0/ref/DinnerHub.Infrastructure.dll
/DinnerHub/DinnerHub.Infrastructure/obj/Debug/net8.0/refint/DinnerHub.Infrastructure.dll
/DinnerHub/DinnerHub.Infrastructure/obj/Debug/net8.0
/DinnerHub/DinnerHub.Infrastructure/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DinnerHub/DinnerHub.Infrastructure/obj/Release/net8.0/DinnerHub.Infrastructure.AssemblyInfo.cs
/DinnerHub/DinnerHub.Infrastructure/obj/Release/net8.0/DinnerHub.Infrastructure.AssemblyInfoInputs.cache
/DinnerHub/DinnerHub.Infrastructure/obj/Release/net8.0/DinnerHub.Infrastructure.assets.cache
/DinnerHub/DinnerHub.Infrastructure/obj/Release/net8.0/DinnerHub.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/DinnerHub/DinnerHub.Infrastructure/obj/Release/net8.0/DinnerHub.Infrastructure.GlobalUsings.g.cs
